.scrollbar::-webkit-scrollbar {
  width: 20px;
  height: 20px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: var(--secondary);
}

.scrollbar::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 100vh;
  border: 3px solid var(--secondary);
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--tertiary);
}

.moviesGrouping {
  width: 80%;
  margin: 0 auto;
}

.groupTitle {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
}

.cardGroup {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  align-items: flex-start;
  margin-bottom: 2rem;
  margin-left: 0.5rem;
  align-items: stretch;
  gap: 0.75rem;
}

.movieCard {
  flex: none;
  width: 8.333333%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  text-align: start;
}

.movieCard img {
  border-radius: 1rem;
}

.movieCardInterior {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.movieTitle {
  overflow: auto;	
  justify-self: flex-end;
}
.movieTitle:hover {
  text-decoration: none;
}

.navHeader {
  padding: 1.25rem;
  background-color: var(--tertiary);
  display: flex;
  gap: 1rem;
}

.navLink {
  padding: 0.25rem 0.5rem;
  color: var(--secondary);
}

.accountLink {
  color: var(--secondary);
  padding: 0.25rem 0.5rem;
  margin-left: auto;
}

@media (min-width: 768px) {
  .movieCard {
    width: 20%;
  }   
}

@media (min-width: 1536px) {
  .movieCard {
    width: 10%;
  } 
}